drawchart.json
[{"id":"6f54ee47.6d521","type":"tab","label":"DrawGoogleChart"},{"id":"6f24f6e5.1767a8","type":"csv","z":"6f54ee47.6d521","name":"","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","x":427.6250228881836,"y":347.2500400543213,"wires":[["dfb9efa7.b9473"]]},{"id":"13348cf9.182583","type":"file in","z":"6f54ee47.6d521","name":"weather.csv","filename":"C:\\Users\\mohan\\Documents\\python\\files\\parsed.csv","format":"utf8","chunk":false,"sendError":false,"x":269.37500762939453,"y":387.5000410079956,"wires":[["6f24f6e5.1767a8"]]},{"id":"dfb9efa7.b9473","type":"function","z":"6f54ee47.6d521","name":"","func":"var newmsg = Object.assign({}, msg);\nnewmsg.payload = [];\n//var newmsg = {payload:[], req: msg.req};\n\nfor (var i=0; i< msg.payload.length; i++) {\n    var date = Object.keys(msg.payload[0])[0];\n    var mintempfield = Object.keys(msg.payload[0])[1];\n    var maxtempfield = Object.keys(msg.payload[0])[2];\n\n    newmsg.payload.push({\n        \"date\" : msg.payload[i][date],\n        mintemp: msg.payload[i][mintempfield],\n        maxtemp: msg.payload[i][maxtempfield]\n    });\n\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":452.5,"y":415,"wires":[["bb458aea.cc57e8","6a706433.401bcc"]]},{"id":"bb458aea.cc57e8","type":"function","z":"6f54ee47.6d521","name":"","func":"msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":"1","noerr":0,"x":593.7000122070312,"y":473.3999938964844,"wires":[["2c94e67d.0bb69a","227afaf2.926ea6"]]},{"id":"5d58f371.4654cc","type":"inject","z":"6f54ee47.6d521","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":117.10000610351562,"y":313.8000030517578,"wires":[["13348cf9.182583"]]},{"id":"2c94e67d.0bb69a","type":"debug","z":"6f54ee47.6d521","name":"","active":true,"console":"false","complete":"false","x":789.9000244140625,"y":446.40000915527344,"wires":[]},{"id":"6a706433.401bcc","type":"debug","z":"6f54ee47.6d521","name":"","active":true,"console":"false","complete":"false","x":748.1000366210938,"y":342.40000915527344,"wires":[]},{"id":"2033d8b8.8ddb08","type":"http in","z":"6f54ee47.6d521","name":"","url":"/bomweatherdata","method":"get","upload":false,"swaggerDoc":"","x":142.10000610351562,"y":238.1999969482422,"wires":[["13348cf9.182583"]]},{"id":"227afaf2.926ea6","type":"http response","z":"6f54ee47.6d521","name":"","statusCode":"","headers":{},"x":762.6999969482422,"y":532.7999715805054,"wires":[]},{"id":"4f2b3a64.cfc894","type":"http in","z":"6f54ee47.6d521","name":"","url":"/drawgooglechart","method":"get","upload":false,"swaggerDoc":"","x":136.10001373291016,"y":542.800066947937,"wires":[["ec79b4a2.5d02b8"]]},{"id":"38ec636b.bcd36c","type":"http response","z":"6f54ee47.6d521","name":"","statusCode":"","headers":{},"x":502.10003662109375,"y":622.8000183105469,"wires":[]},{"id":"ec79b4a2.5d02b8","type":"template","z":"6f54ee47.6d521","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"  <html>\n  <head>\n    <script type=\"text/javascript\" src=\"https://www.gstatic.com/charts/loader.js\"></script>\n    <script type=\"text/javascript\">\n      google.charts.load('current', {'packages':['corechart']});\n      google.charts.setOnLoadCallback(drawChart);\n      var data;\n      var chart;\n      var options;\n\n      function drawChart() {\n        data = new google.visualization.DataTable();\n        data.addColumn('date', 'Date');\n        data.addColumn('number', 'Min. Temp');\n        data.addColumn('number', 'Max. Temp');\n        \n\n         // options =  { curveType: 'function'}\n\n        options = {\n          title: 'Temperatures November 2017',\n          legend: { position: 'bottom' },\n          hAxis: {\n              format: 'd-MM-yy'\n          }\n        };\n\n        chart = new google.visualization.LineChart(document.getElementById('curve_chart'));\n\n        chart.draw(data, options);\n        \n        \n        fetch('http://localhost:1880/bomweatherdata').then(function(res) {\n            return res.json();\n        }).then(function(json) {\n            //console.log(json);\n            for (var i=0; i< json.length; i++) {\n                //console.log(json[i]);\n                var date = new Date(json[i].date);\n                var mintemp = json[i].mintemp;\n                var maxtemp = json[i].maxtemp;\n                console.log(date);\n                data.addRow([date,mintemp,maxtemp]);\n            }\n            \n            chart.draw(data, options);\n        });\n        \n      }\n    </script>\n  </head>\n  <body>\n    <div id=\"curve_chart\" style=\"width: 900px; height: 500px\"></div>\n  </body>\n</html>","output":"str","x":285.1000061035156,"y":620.3999938964844,"wires":[["38ec636b.bcd36c"]]}]
